*.workspace
*.workspace.layout

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.depend

*.pdf
*.cbp
*.layout

/bin

bin/

/.metadata

# Xcode project files
.xcodeproj

# Backup files
*~
